main{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

#logowanie{
    border: 2px dotted rgb(223, 97, 24);
    border-radius: 48px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#formularz{
    display:  flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.inputform{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#buttonsection{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
#btnanuluj{
    background-color: rgb(250, 46, 46);
    padding: 8px 12px;
    color: whitesmoke;
    border-radius: 5px;
    border: 1px solid rgb(250, 46, 46);
}
#btnsubmit{
      background-color: rgb(25, 75, 240);
    padding: 8px 12px;
    color: whitesmoke;
    border-radius: 5px;
    border: 1px solid rgb(25, 75, 240);
}
input{
    border: 1px solid rgb(223, 97, 24);
}
input:focus{
    outline: none;
}