*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main{
    flex:1
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 8, 146);
}

ul{
    display: flex;
    gap: 8px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: aquamarine;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#formularz{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: rgb(223, 97, 24);
    display: flex;
    text-align: center;
    color: azure;
    height: 50px;
    justify-content: center;
}


    
